img{
    max-width: 100%;
}

body{
    margin-bottom: 100px;
    position: relative;
}

.align-exemple > div{
    border: 2px solid;
    margin-bottom: 1rem;
}

.adrec-slider .carousel-item{
    max-height: 550px;
}

.adrec-slider-item{
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width: 750px){
    .adrec-slider-item {
        height: 400px;
    }
}

@media screen and (max-width: 500px){
    .adrec-slider-item {
        height: 260px;
    }
}

#bandeau-rgpd{
    background: black;
    color: white;
    width: 100%;
    padding: 0.5rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    display: none;
}

#accept-condition{
    margin-left: 10px;
}

h1{
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
}

h1:after{
    content: '';
    width: 50%;
    background: red;
    height: 3px;
    position: absolute;
    left: calc(50% - 75px);
    bottom: -13px;
}